form {
  margin: 0 auto;
}

textarea {
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  background-color: #313335;
  color: #ffffff;
  border: 1px solid #555555;
  border-radius: 5px;
  font-size: 1em;
  font-family: "JetBrains Mono", monospace;
}

button {
  background-color: #007acc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #005f99;
}
